# --------------------------------------------------------------------
# .gitignore
# --------------------------------------------------------------------
# Основной файл исключений для проекта git
# --------------------------------------------------------------------

# Системные файлы и временные данные
.DS_Store
Thumbs.db
desktop.ini
*.swp
*.tmp
*.log
*.temp

# Настройки IDE и редакторов
.idea/
.vscode/
*.iml
*.suo
*.user
*.state

# Конфигурационные файлы с чувствительными данными
/.env
/.env.*
/src/main/java/ru/almidev/bookstore/config/Config.java
!.env.sample

# Папки сборки и временные файлы
/target/
/build/
/out/
/deploy/
/mvn/
.gradle/
*.class
*.war
*.jar
*.ear

# Артефакты архивов и образов
*.zip
*.rar
*.7z
*.gz
*.tar
*.dmg
*.iso

# Файлы тестирования и отчетности
/test-results/
/reports/
/main/test

# Папка БД H2
/data/*
!/data/
!/data/.gitkeep


