#
# --------------------------------------------------------------------
# .gitignore
# --------------------------------------------------------------------
# Файл локальных исключений git
# --------------------------------------------------------------------
#

# Все файлы внутри папки  игнорируются
*

# Исключение для самого .gitignore, чтобы сохранить правило
!.gitignore
